<div>
  <form [formGroup]="registerForm">
    <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="email">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="password">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" formControlName="repassword" placeholder="confirm password">
    </mat-form-field>
    <button mat-button>Register</button>
  </form>
  <div>Have an account? <a routerLink="/login">Log in</a></div>
</div>
